.c{
    display: inline-block;

    font-family: "Fira Code";
    font-size: 20px;
    color:white;
    text-align: left;
    white-space: pre;
    padding: 20px;

    border-radius: 15px;
    border: 2px solid black;

    background-color: rgb(52, 52, 52);
}
